
.navbar-collapse.collapse.in {
display: block!important;
}
a.tablelink:link {
color: green;
background-color: transparent;
text-decoration: underline;
}
a:visited {
color: black;
background-color: transparent;
text-decoration: underline;
}
a:hover {
color: white;
background-color: transparent;
text-decoration: underline;
}
a:active {
color: yellow;
background-color: transparent;
text-decoration: underline;
}
.footer{
background-color: #17A2B8;
}
th, td {
  padding: 15px;
  text-align: center;
}
th.clickable{
  cursor: hand;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
table{
  background-color: #17A2B8;
}
table th{
  background-color: black;
  color: white;
}
a.tablelink:link {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
tr.tablehead{
  position: -webkit-sticky;
  position: sticky;
  top: 100;
}
