<html>
<head>
  <title>Project 2</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mystyle.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<style>
  body {
  background-image: url({{ url_for('static', filename='images/home.jpg') }});
  background-position: 0px 130px;

}
.navbar-collapse.collapse.in {
  display: block!important;
}
</style>





	<body>

			<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-info ">

        <a class="navbar-brand" href="{{ url_for('home') }}" >
          <img src="{{ url_for('static', filename='images/nav.jpg') }}" width="100" height="100" alt="">
          <!--<font size="+3">Animal World
          </font>-->
        </a>

        <button class="navbar-toggler ml-auto" type="button"  aria-controls="navbarTogglerDemo03" aria-label="Toggle navigation" data-toggle="collapse" data-target="#navbarTogglerDemo03">
          <span class="navbar-toggler-icon"></span>
        </button>
        <font size="+3">
        <div class=" navbar-collapse collapse justify-content-end  " id="navbarTogglerDemo03">

          <div class="navbar-nav ml-auto navbar-nav" >


            <a class="nav-link " href="{{ url_for('biome') }}">Biome</a>
            <a class="nav-link active" href="{{ url_for('classification') }}">Classification</a>
            <a class="nav-link" href="{{ url_for('conservation') }}">Conservation Status</a>
            <a class="nav-link" href="{{ url_for('about') }}">About Us</a>



          </div>
        </font>


        </div>
      </nav>
      <b>
        <center>
        <font color="2">
          <font size="+100">This is Class Type page</font>
        </font>
        </center>

      </b>

  <div class ="container" style="text-align:center">
    <div class = 'mt row'>

    <div class = 'col'>
    <button >
      <a href="{{ url_for('chondrichthyes') }}" class="card-link">
      <div class="card" style="width: 20rem">
        <img src="{{ url_for('static', filename='images/lamniformes.jpg') }}" height=235px width=315px>
          <div class="card-body">
              <h5 class="card-title">Chondrichthyes family</h5>
              <h6 class="card-subtitle mb-2 text-muted">Chondrichthyes is a class that contains the cartilaginous fishes: they are jawed vertebrates with paired fins, paired nares, scales, a heart with its chambers in series, and skeletons made of cartilage rather than bone.</h6>
              <p class="card-text">List of Chondrichthyes: Shark </p>
          </div>
        </div>



      </a>

    </button>
      </div>

    <div class = 'col'>
    <button >
      <a href="{{ url_for('reptilia') }}" class="card-link">
      <div class="card" style="width: 20rem">
        <img src="{{ url_for('static', filename='images/squamata.jpg') }}" height=235px width=315px>
          <div class="card-body">
              <h5 class="card-title">Reptilia</h5>
              <h6 class="card-subtitle mb-2 text-muted">Reptiles are tetrapod animals in the class Reptilia, comprising today's turtles, crocodilians, snakes, amphisbaenians, lizards, tuatara, and their extinct relatives.</h6>
              <p class="card-text">List of Reptilia: Anaconda</p>
          </div>
        </div>



      </a>

    </button>
      </div>

    <div class = 'col'>
    <button >
      <a href="{{ url_for('mammalia') }}" class="card-link">
      <div class="card" style="width: 20rem">
        <img src="{{ url_for('static', filename='images/mammalia.jpg') }}" height=235px width=315px>
          <div class="card-body">
              <h5 class="card-title">Class type</h5>
              <h6 class="card-subtitle mb-2 text-muted">Mammals are vertebrate animals constituting the class Mammalia, and characterized by the presence of mammary glands which in females produce milk for feeding</h6>
              <p class="card-text">List of Mammalia: Coyote</p>
          </div>
        </div>



      </a>

    </button>
      </div>

	</body>
</html>
