<html>
<head>
  <title>Project 2</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mystyle.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<style>
  body {
  background-image: url({{ url_for('static', filename='images/home.jpg') }});
  background-position: 0px 130px;

}
.navbar-collapse.collapse.in {
  display: block!important;
}
th, td {
  padding: 15px;
  text-align: center;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
table{
  background-color: #17A2B8;
}
table th{
  background-color: black;
  color: white;
}
</style>





  <body>

      <nav class="navbar navbar-expand-lg navbar-light bg-info ">

        <a class="navbar-brand" href="{{ url_for('home') }}" >
          <img src="{{ url_for('static', filename='images/nav.jpg') }}" width="100" height="100" alt="">
        <font size="+3">Animal World
        </font>
        </a>

        <button class="navbar-toggler ml-auto" type="button"  aria-controls="navbarTogglerDemo03" aria-label="Toggle navigation" data-toggle="collapse" data-target="#navbarTogglerDemo03" >
          <span class="navbar-toggler-icon"></span>
        </button>
        <font size="+3">
        <div class=" navbar-collapse collapse justify-content-end  " id="navbarTogglerDemo03">

          <div class="navbar-nav ml-auto navbar-nav" >


            <a class="nav-link active" href="{{ url_for('biome') }}">Biome</a>
            <a class="nav-link" href="{{ url_for('classification') }}">Classification</a>
            <a class="nav-link" href="{{ url_for('conservation') }}">Conservation Status</a>
            <a class="nav-link" href="{{ url_for('about') }}">About Us</a>



          </div>
        </font>


        </div>
      </nav>
      <b>
        <center>
        <font color="2">
          <font size="+100">This is Desert Biome page</font>
        </font>
        </center>

      </b>
    <table style="width:65%" align="center">
      <tr>

        <th></th>
        <th>Animal</th>
        <th>Animal's scientifc name</th>
        <th > Classification</th>
        <th > Conservation status</th>
        <th > Descriptions</th>

      </tr>
      <tr>
        <td><img src="{{url_for('static', filename='images/coyote.jpg')}}" style="width: 15rem" alt="coyote" ></td>
        <td>Coyote</td>
        <td>Canis Latrans</td>
        <td>
          <p><b>Class type: </b>Mammalia</p>
          <p><b>Order type: </b>Carnivora</p>
          <p><b>Family type</b>Canidae</p></td>
        <td>Least Concern</td>
        <td>The coyote, prairie wolf or brush wolf, Canis latrans, is a canine native to North America. It is smaller than its close relative, the gray wolf, and slightly smaller than the closely related eastern wolf and red wolf. It fills much of the same ecological niche as the golden jackal does in Eurasia, though it is larger and more predatory, and is sometimes called the American jackal by zoologists.",
        </td>
      </tr>
      <td><img src="{{url_for('static', filename='images/anaconda.jpg')}}" style="width: 15rem" alt="anaconda" ></td>
        <td>Anaconda</td>
        <td>Eunectes murinus</td>
        <td>
          <p><b>Class type: </b>Reptilia</p>
          <p><b>Order type: </b>Carnivora</p>
          <p><b>Family type</b>Canidae</p></td>
        <td>Least Concern</td>
        <td>The coyote, prairie wolf or brush wolf, Canis latrans, is a canine native to North America. It is smaller than its close relative, the gray wolf, and slightly smaller than the closely related eastern wolf and red wolf. It fills much of the same ecological niche as the golden jackal does in Eurasia, though it is larger and more predatory, and is sometimes called the American jackal by zoologists.",
        </td>
      <tr>
        <td></td>
      </tr>
    </table>




  </body>
</html>
