<html>
<head>
  <title>Project 2</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mystyle.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<style>
  body {
  background-image: url({{ url_for('static', filename='images/home.jpg') }});
  background-position: 0px 130px;

}
.navbar-collapse.collapse.in {
  display: block!important;
}
</style>





  <body>

      <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-info ">

        <a class="navbar-brand" href="{{ url_for('home') }}" >
          <img src="{{ url_for('static', filename='images/nav.jpg') }}" width="100" height="100" alt="">
          <!--<font size="+3">Animal World
          </font>-->
        </a>

        <button class="navbar-toggler ml-auto" type="button"  aria-controls="navbarTogglerDemo03" aria-label="Toggle navigation" data-toggle="collapse" data-target="#navbarTogglerDemo03">
          <span class="navbar-toggler-icon"></span>
        </button>
        <font size="+3">
        <div class=" navbar-collapse collapse justify-content-end  " id="navbarTogglerDemo03">

          <div class="navbar-nav ml-auto navbar-nav" >


            <a class="nav-link " href="{{ url_for('biome') }}">Biome</a>
            <a class="nav-link active" href="{{ url_for('classification') }}">Classification</a>
            <a class="nav-link" href="{{ url_for('conservation') }}">Conservation Status</a>
            <a class="nav-link" href="{{ url_for('about') }}">About Us</a>



          </div>
        </font>


        </div>
      </nav>
      <b>
        <center>
        <font color="2">
          <font size="+100">This is Family Type page</font>
        </font>
        </center>

      </b>



 <div class ="container" style="text-align:center">
    <div class = 'mt row'>

    <div class = 'col'>
    <button >
      <a href="{{ url_for('canidae') }}" class="card-link">
      <div class="card" style="width: 20rem">
        <img src="{{ url_for('static', filename='images/canidae.jpg') }}" height=235px width=315px>
          <div class="card-body">
              <h5 class="card-title">Canidae Family</h5>
              <h6 class="card-subtitle mb-2 text-muted">The biological family Canidae is a lineage of carnivorans that includes domestic dogs, wolves, coyotes, foxes, jackals, dingoes, and many other extant and extinct dog-like mammals. A member of this family is called a canid.</h6>
              <p class="card-text">List of Canidae family: Wolf, Fox, Dog</p>
          </div>
        </div>



      </a>

    </button>
      </div>
    <div class = 'col'>
    <button >
      <a href="{{ url_for('boidae') }}" class="card-link">
      <div class="card" style="width: 20rem">
        <img src="{{ url_for('static', filename='images/boidae.jpg') }}" height=235px width=315px>
          <div class="card-body">
              <h5 class="card-title">Boidae Family</h5>
              <h6 class="card-subtitle mb-2 text-muted">The Boidae are a family of nonvenomous snakes primarily found in the Americas, although also existing in Africa, Madagascar, Europe, Asia, and some Pacific Islands. Relatively primitive snakes, adults are medium to large in size, with females usually larger than the males. Five subfamilies, comprising 12 genera and 49 species, are currently recognized.</h6>
              <p class="card-text">List of Boidae family: Rattle snake, Bao, anaconda</p>
          </div>
        </div>



      </a>

    </button>
      </div>
    <div class = 'col'>
    <button >
      <a href="{{ url_for('lamnidae') }}" class="card-link">
      <div class="card" style="width: 20rem">
        <img src="{{ url_for('static', filename='images/lamniformes.jpg') }}" height=235px width=315px>
          <div class="card-body">
              <h5 class="card-title">Lamnidae Family</h5>
              <h6 class="card-subtitle mb-2 text-muted">The Lamnidae are the family of mackerel or white sharks. They are large, fast-swimming sharks, found in oceans worldwide. The name of the family is formed from the Greek word, lamna, which means fish of prey, and was derived from the Greek legendary creature, the Lamia.</h6>
              <p class="card-text">List of Lamnidae family: Great white shark, Megaladon..</p>
          </div>
        </div>



      </a>

    </button>
      </div>
  </body>
</html>
