<html>
<head>
  <title>Project 2</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mystyle.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<style>
  body {
  background-image: url({{ url_for('static', filename='images/home.jpg') }});
  background-position: 0px 130px;

}
a:hover {
color: grey;
background-color: transparent;
text-decoration: underline;
}

</style>


<body>
    <!--<creating a navbar>-->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-info ">

      <a class="navbar-brand" href="{{ url_for('home') }}" >
        <img src="{{ url_for('static', filename='images/nav.jpg') }}" width="100" height="100" alt="">
        
      </a>
      <!--<creating a collapsible button >-->
      <button class="navbar-toggler ml-auto" type="button"  aria-controls="navbarTogglerDemo03" aria-label="Toggle navigation" data-toggle="collapse" data-target="#navbarTogglerDemo03">
        <span class="navbar-toggler-icon"></span>
      </button>
      <font size="+3">
      <div class="navbar-collapse collapse justify-content-end" id="navbarTogglerDemo03">
        <!--<creating the content in collapsible navbar>-->
        <div class="navbar-nav sticky-top ml-auto navbar-nav" >


          <a class="nav-link" href="{{ url_for('animals') }}">Animals</a>
          <a class="nav-link" href="{{ url_for('biome') }}">Biome</a>
          <a class="nav-link" href="{{ url_for('taxonomy') }}">Taxonomy</a>
          <a class="nav-link" href="{{ url_for('conservation') }}">Conservation Status</a>
          <a class="nav-link active" href="{{ url_for('about') }}">About Us</a>


        </div>
      </font>


      </div>
    </nav>
    <b>
      <center>
      <font color="2">
        <font size="+100">About Us</font>
      </font>
      </center>

    </b>

    <h1><center>Group 4</center></h1>
  
  <!--<creating these container/card for each person>-->
  <div class="container">
    <div class="row">
      <div class="col">
        <class card>
          <div class="card" style="width: 12rem">
            <img src="{{ url_for('static', filename='images/headshots/carlos-pro-pic.jpg') }}" height = 250px>
              <div class="card-body">
                <h5 class="card-title">Carlos Canizales</h5>
                <h6 class="card-subtitle mb-2 text-muted">Class of 2020</h6>
                <p class="card-text"; style="font-size:11pt">My name is Carlos. I am a Mechanical Engineering student graduating in the class of 2020.
                  I enjoy staring at my computer screen's minecraft sunset and long walks on the minecraft beach.</p>
                  <p style="font-size:10pt"><u>Major Responsibilities:</u> Database</p>
                  <p style="font-size:10pt"><u>Number of Commits:</u> 21</p>
                  <p style="font-size:10pt"><u>Number of Issues:</u> 19</p>
                  <p style="font-size:10pt"><u>Number of Unit Tests:</u> 1</p>
              </div>
          </div>
      </div>

      <div class="col">
        <class card>
          <div class="card" style="width: 12rem">
            <img src="{{ url_for('static', filename='images/headshots/kevin-pro-pic.jpg') }}" height = 250px>
              <div class="card-body">
                <h5 class="card-title">Kevin Jia</h5>
                <h6 class="card-subtitle mb-2 text-muted">Class of 2021</h6>
                <p class="card-text"; style="font-size:11pt">Hi, I'm Kevin. I'm a Computational Biology major
                  and enjoy playing ultimate frisbee.</p>
                  <p style="font-size:10pt"><u>Major Responsibilities:</u> Database</p>
                  <p style="font-size:10pt"><u>Number of Commits:</u> 4</p>
                  <p style="font-size:10pt"><u>Number of Issues:</u> 0</p>
                  <p style="font-size:10pt"><u>Number of Unit Tests:</u> 1</p>
              </div>
          </div>
      </div>

      <div class="col">
        <class card>
          <div class="card" style="width: 12rem">
            <img src="{{ url_for('static', filename='images/headshots/tiff-pro-pic.jpg') }}" height = 250px>
              <div class="card-body">
                <h5 class="card-title">Tiffany Koo</h5>
                <h6 class="card-subtitle mb-2 text-muted">Class of 2020</h6>
                <p class="card-text"; style="font-size:11pt">Hello, my name is Tiffany Koo, and I am an Economics major.
                  In my spare time, I like bullet journaling and traveling with my friends!</p>
                  <p style="font-size:10pt"><u>Major Responsibilities:</u> HTML pages, CSS</p>
                  <p style="font-size:10pt"><u>Number of Commits:</u> 45</p>
                  <p style="font-size:10pt"><u>Number of Issues:</u> 4</p>
                  <p style="font-size:10pt"><u>Number of Unit Tests:</u> 2</p>
              </div>
          </div>
      </div>

      <div class="col">
        <class card>
          <div class="card" style="width: 12rem">
            <img src="{{ url_for('static', filename='images/headshots/luan-pro-pic.jpg') }}" height = 250px>
              <div class="card-body">
                <h5 class="card-title">Luan Lam</h5>
                <h6 class="card-subtitle mb-2 text-muted">Class of 2020</h6>
                <p class="card-text"; style="font-size:11pt">Hi, my name is Luan, and I'm an Economics major.
                  In my spare time, I like playing board games with friends!</p>
                  <p style="font-size:10pt"><u>Major Responsibilities:</u> Front and backend</p>
                  <p style="font-size:10pt"><u>Number of Commits:</u> 94</p>
                  <p style="font-size:10pt"><u>Number of Issues:</u> 8</p>
                  <p style="font-size:10pt"><u>Number of Unit Tests:</u> 2</p>
              </div>
          </div>
      </div>

      <div class="col">
        <class card>
          <div class="card" style="width: 12rem">
            <img src="{{ url_for('static', filename='images/headshots/darong-pro-pic.jpg') }}" height = 250px>
              <div class="card-body">
                <h5 class="card-title">Darong Qi</h5>
                <h6 class="card-subtitle mb-2 text-muted">Class of 2021</h6>
                <p class="card-text"; style="font-size:11pt">Hello, my name is Darong. My major is Plan II/Neuroscience,
                  and I've lived in 6 different states: Texas, California, Massachusetts, New Jersey, New York, and South Carolina!</p>
                  <p style="font-size:10pt"><u>Major Responsibilities:</u> Implementation of Flask</p>
                  <p style="font-size:10pt"><u>Number of Commits:</u> 51</p>
                  <p style="font-size:10pt"><u>Number of Issues:</u> 1</p>
                  <p style="font-size:10pt"><u>Number of Unit Tests:</u> 2</p>
              </div>
          </div>
      </div>
    </div>
  </div>

  <hr>
  <!--<git lab implementation>-->
  <div class="footer">
    <h3><center>Data Sources:</center></h3>

    <h6><center><a class="tablelink" href="https://www.enchantedlearning.com/">Enchanted Learning</a></center></h6>


    <h3><center>Project Stats:</center></h3>
      <div class="container">
      <div class="row">
        <div class="col-md-auto">
          <h6>Total No. of Commits: 215</h6>
        </div>
        <div class="col-md">
          <h6><center>Total No. of Issues: 32</center></h6>

        </div>
        <div class="col-md-auto">
          <h6>Total No. of Unit Tests: 8</h6>
        </div>
      </div>
      </div>


      <div class="container">
      <div class="row">
        <div class="col-lg-auto">
          <h6><a class="tablelink" href="https://gitlab.com/Canizales/cs329e-idb/tree/master">GitLab Repo</a></h6>
        </div>
        <div class="col">
          <h6><center><a class="tablelink" href="https://gitlab.com/Canizales/cs329e-idb/issues">GitLab Issue Tracker</a></center></h6>
        </div>
        <div class="col-lg-auto">
          <h6><a class="tablelink" href="https://gitlab.com/Canizales/cs329e-idb/wikis/Animal-World-Technical-Report">GitLab Wiki</a></h6>
        </div>
      </div>
      </div>
  </div>


    <div class="footer">

    <h3><center>Tools Used:</center></h3>

      <div class="container">
        <div class="row">
          <div class="col">
            <img src="{{ url_for('static', filename='images/gitlablogo.jpg') }}" height=75px width=180px>
          </div>
          <div class="col">
            <img src="{{ url_for('static', filename='images/gcp.jpg') }}" height=80px width=300px>
          </div>
          <div class="col">
            <img src="{{ url_for('static', filename='images/w3schools.jpg') }}" height=70px width=175px>
          </div>
          <div class="col">
            <img src="{{ url_for('static', filename='images/flask.jpg') }}" height=65px width=150px>
          </div>
          <div class="col">
            <img src="{{ url_for('static', filename='images/slack.jpg') }}" height=95px width=175px>
          </div>
        </div>
      </div>
    </div>

</body>
</html>
