<html>
<head>
  <title>Project 2</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mystyle.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<style>
  body {
  background-image: url({{ url_for('static', filename='images/home.jpg') }});
  background-position: 0px 130px;
}

</style>

	<body>
      <!--<creating a navbar>-->
			<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-info ">

        <a class="navbar-brand" href="{{ url_for('home') }}" >
          <img src="{{ url_for('static', filename='images/nav.jpg') }}" width="100" height="100" alt="">

        </a>
        <!--<creating a collapsiable navbar>-->
        <button class="navbar-toggler ml-auto" type="button"  aria-controls="navbarTogglerDemo03" aria-label="Toggle navigation" data-toggle="collapse" data-target="#navbarTogglerDemo03">
          <span class="navbar-toggler-icon"></span>
        </button>
        <font size="+3">
        <div class=" navbar-collapse collapse justify-content-end  " id="navbarTogglerDemo03">
          <!--<creating result from collapse>-->
          <div class="navbar-nav sticky-top ml-auto navbar-nav" >

            <a class="nav-link" href="{{ url_for('animals') }}">Animals</a>
            <a class="nav-link " href="{{ url_for('biome') }}">Biome</a>
            <a class="nav-link active" href="{{ url_for('taxonomy') }}">Taxonomy</a>
            <a class="nav-link" href="{{ url_for('conservation') }}">Conservation Status</a>
            <a class="nav-link" href="{{ url_for('about') }}">About Us</a>

          </div>
        </font>


        </div>
      </nav>
      <b>
        <center>
        <font color="2">
          <font size="+100">Class Types</font>
        </font>
        </center>
      <!--<creating table and title for the data>-->
      </b>
      {% if classes == [] %}
         <p>No classes exist</p>
      {% else %}
      <table style="width:75%" align="center" id="myTable2">
      <tr>

        <th></th>
        <th class="clickable" onclick="sortTable(1)">Class Name</th>
        <!--<th class="clickable" onclick="sortTable(1)">List of Animals</th>-->
        <th class="clickable" onclick="sortTable(2)">Parent Phylum</th>
        <!--<th class="clickable" onclick="sortTable(3)">Orders</th>-->
        <th class="clickable" onclick="sortTable(3)">Descriptions</th>

      </tr>
      <!--<exacting data from json file>-->
      {% for i in classes.items %}
      <tr>
        <td><img src="{{i.class_img_url}}" style="width: 15rem" alt="mammalia" ></td>
        <td>{{i.class_type}}</td>
        <!--<td><a href="{{ url_for('animals') }}">Coyote, etc...</a></td>-->
        <td>{{i.parent_phylum}}</td>
        <!--<td>Rodentia, Primates, etc...</td>-->
        <td>{{i.class_desc}}</td>
      </tr>
      {% endfor %}
      </table>
    {% endif %}
    </br>

    <!--PAGINATION NAVIGATION-->
    <nav aria-label="...">
      <ul class="pagination justify-content-center">
      {% for page_num in classes.iter_pages(left_edge=1, right_edge=1,left_current=1, right_current=3) %}
          {% if page_num %}
            {% if classes.page == page_num %}
              <li class="page-item active">
              <a class ='page-link' href="{{url_for('class_type', page=page_num)}}">{{ page_num }} </a>
              </li>
            {% else %}
              <li class="page-item">
              <a class = 'page-link' href="{{url_for('class_type', page=page_num)}}">{{ page_num }} </a>
              </li>
            {% endif %}
          {% else %}
            <li class="page-item disabled">
              <a class = 'page-link'>..</a>
            </li>
          {% endif %}
      {% endfor %}
      </ul>
      </nav>


	</body>
  <script type = "text/javascript" src="{{ url_for('static', filename='js/myscripts.js') }}"></script>
</html>
