<html>
<head>
  <title>Project 2</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mystyle.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<style>
  body {
  background-image: url({{ url_for('static', filename='images/home.jpg') }});
  background-position: 0px 130px;

}
a:hover {
color: grey;
background-color: transparent;
text-decoration: underline;
}

</style>

	<body>
        <!--<creating a navbar>-->
			 <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-info clearfix">

        <a class="navbar-brand" href="{{ url_for('home') }}" >
        <img src="{{ url_for('static', filename='images/nav.jpg') }}" width="100" height="100" alt="">
        <!--<font size="+3">Animal World
        </font>-->
        </a>
        <!--<creating a button for collapse>-->
        <button class="navbar-toggler ml-auto" type="button"  aria-controls="navbarTogglerDemo03" aria-label="Toggle navigation" data-toggle="collapse" data-target="#navbarTogglerDemo03">
          <span class="navbar-toggler-icon"></span>
        </button>
        <font size="+3">
        <div class=" navbar-collapse collapse justify-content-end" id="navbarTogglerDemo03">
          <!--<creating result for collapse>-->
          <div class="navbar-nav ml-auto navbar-nav" >


            <a class="nav-link" href="{{ url_for('animals') }}">Animals</a>
            <a class="nav-link" href="{{ url_for('biome') }}">Biome</a>
            <a class="nav-link" href="{{ url_for('taxonomy') }}">Taxonomy</a>
            <a class="nav-link" href="{{ url_for('conservation') }}">Conservation Status</a>
            <a class="nav-link" href="{{ url_for('about') }}">About Us</a>



          </div>
        </font>


        </div>
      </nav>
      <b>
        <center>
        <font color=2>
          <font size="+100">Welcome to Animal World!</font>
        </font>
        </center>
        <center>
        <h5>
        <font color=2>
          <font size="5">Navigate below to learn about animals.</font>
        </font>
      </h5>
        </center>
      
      </b>
      <center>
      <div>
        <!--<creating a card/button to access animal>-->
        <button >
          <a href="{{ url_for('animals') }}" class="card-link">
            <div class="card" style="width: 100%">
              <img src="{{ url_for('static', filename='images/animalworld.jpg') }}" height=215px>
                <div class="card-body">
                    <h5 class="card-title">Animals</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Browse our database of over 50 animals</h6>
                    <p class="card-text">Which animals would you like to learn more about?</p>
                </div>
            </div>
          </a>
        </button>
      </div>
    </center>
  <!--<creating a card/button to access other pages>-->
  <div class ="container" style="text-align:center">
    <div class = 'mt-4 row'>
      <div class = 'col'>
    <button >
      <a href="{{ url_for('biome') }}" class="card-link">
      <div class="card" style="width: 20rem">
        <img src="{{ url_for('static', filename='images/world-map.jpg') }}" height=215px>
          <div class="card-body">
              <h5 class="card-title">Biome</h5>
              <h6 class="card-subtitle mb-2 text-muted">Desert, Grassland, Rainforest, Taiga, Tundra, etc...</h6>
              <p class="card-text">Which region would you like to know more about?</p>
          </div>
        </div>



      </a>

    </button>
      </div>

      <div class = 'col'>

    <button>
      <a href="{{ url_for('taxonomy') }}" class="card-link">
      <div class="card" style="width: 20rem">
        <img src="{{ url_for('static', filename='images/animals.jpg') }}" height=215px width=315px>
          <div class="card-body">
              <h5 class="card-title">Taxonomy</h5>
              <h6 class="card-subtitle mb-2 text-muted">Mammalia, Birds, Amphibians, Fishes, Reptiles, etc...</h6>
              <p class="card-text">Which animal taxonomy would you like to know more about?</p>
          </div>
      </a>
    </button>
  </div>



      <div class = 'col'>
    <button>
      <a href="{{ url_for('conservation') }}" class="card-link">
      <div class="card" style="width: 20rem">
        <img src="{{ url_for('static', filename='images/conservation-status.jpg') }}" height=235px width=315px>
          <div class="card-body">
              <h5 class="card-title">Conservation Status</h5>
              <h6 class="card-subtitle mb-2 text-muted">From Least Concerned to Extinct</h6>
              <p class="card-text">Information on animals' conservation statuses.</p>
          </div>
      </div>
      </a>
    </button>
  </div>


  </body>
</html>
