<html>
<head>
  <title>Project 2</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mystyle.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<style>
  body {
  background-image: url({{ url_for('static', filename='images/home.jpg') }});
  background-position: 0px 130px;

}
a:hover {
color: grey;
background-color: transparent;
text-decoration: underline;
}

</style>

	<body>
      <!--<creating navbar>-->
			<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-info ">

        <a class="navbar-brand" href="{{ url_for('home') }}" >
          <img src="{{ url_for('static', filename='images/nav.jpg') }}" width="100" height="100" alt="">
          <!--<font size="+3">Animal World
          </font>-->
        </a>
        <!--<creating button for collapse>-->
        <button class="navbar-toggler ml-auto" type="button"  aria-controls="navbarTogglerDemo03" aria-label="Toggle navigation" data-toggle="collapse" data-target="#navbarTogglerDemo03">
          <span class="navbar-toggler-icon"></span>
        </button>
        <font size="+3">
        <div class=" navbar-collapse collapse justify-content-end  " id="navbarTogglerDemo03">
          <!--<creating result for collapse>-->
          <div class="navbar-nav ml-auto navbar-nav" >

            <a class="nav-link" href="{{ url_for('animals') }}">Animals</a>
            <a class="nav-link " href="{{ url_for('biome') }}">Biome</a>
            <a class="nav-link active" href="{{ url_for('taxonomy') }}">Taxonomy</a>
            <a class="nav-link" href="{{ url_for('conservation') }}">Conservation Status</a>
            <a class="nav-link" href="{{ url_for('about') }}">About Us</a>



          </div>
        </font>


        </div>
      </nav>
      <b>
        <center>
        <font color="2">
          <font size="+100">Taxonomy</font>
        </font>
        </center>

      </b>


  <!--<creating card/button to access class, order, and family>-->
  <div class ="container" style="text-align:center">
    <div class = 'mt row'>
      <div class = 'col'>
      <button >
        <a href="{{ url_for('class_type') }}" class="card-link">
        <div class="card" style="width: 20rem">
          <img src="{{ url_for('static', filename='images/class.jpg') }}" height=235px width=315px>
            <div class="card-body">
                <h5 class="card-title">Class type</h5>
                <h6 class="card-subtitle mb-2 text-muted">An animal class is made up of animals that are all alike in important ways.</h6>
                <p class="card-text">List of Class type: Mammals, Birds...</p>
            </div>
          </div>
        </a>
      </button>
      </div>

      <div class = 'col'>
      <button >
        <a href="{{ url_for('order_type') }}" class="card-link">
        <div class="card" style="width: 20rem">
          <img src="{{ url_for('static', filename='images/order.jpg') }}" height=235px width=315px>
            <div class="card-body">
                <h5 class="card-title">Order Type</h5>
                <h6 class="card-subtitle mb-2 text-muted">Each class is divided into small groups again, known as orders.</h6>
                <p class="card-text">List of Order type: carnivora, primate...</p>
            </div>
          </div>
        </a>
      </button>
      </div>

      <div class = 'col'>
      <button >
        <a href="{{ url_for('family_type') }}" class="card-link">
          <div class="card" style="width: 20rem">
            <img src="{{ url_for('static', filename='images/family.jpg') }}" height=235px width=315px>
              <div class="card-body">
                  <h5 class="card-title">Family type</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Family consists of a group of animals that have very similar feature.The Carnivora order breaks into families that include Felidae (Cats), Canidae (Dogs), Ursidae (Bears), and Mustelidae (Weasels)</h6>
                  <p class="card-text">List of family: Felidae, Canidae...</p>
              </div>
          </div>
        </a>
      </button>
      </div>




  </div>
  </div>



	</body>
</html>
